/* Comisiones.html Body  */
.comisiones_body{
    margin: 0vh 15vh 0vh 4vh; /* top, right, bottom, left */

    h1{
        font-family: 'MoreSugar', sans-serif;
    }
    
    p{
        font-family: 'Marytake', sans-serif;
        font-size: 1.6rem;
    };
}
