
/* Homepage body */
.homepage_body {
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    overflow-x: hidden;
}

.item_set {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    gap: 20px;
}

.item_set::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

/* Item Layout */
.item_background {
    background-color: white;
    width: 230px;
    padding-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.item_title {
    text-align: center;
}

.item_price {
    text-align: center;
    font-size: larger;
    font-style: italic;
}

.item_image {
    background-color: red;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.item_category {
    background-color: palegoldenrod;
    width: 228x;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text_center {
    text-align: center;
}

                    /* Navigation Bars */
body {
    min-height: 100vh;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
}

#horizontal_menu{
    top: 0;
    position: sticky;
    grid-area: navbar;
    grid-column: navbar;
    padding: 1rem;
    background-color: lightblue;
    max-height: 52px;
}

#sidebar{
    height: calc(100vh - 70.1px); /* 100% of the viewport height minus the height of the navbar */
    width: auto;
    top: 52px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: grey;
    display: none;
}

#sidebar.show {
    display: block;
}


main{
    grid-area: main;
    overflow: hidden;
}

