
/* Homepage body */
.homepage_body {
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    overflow-x: hidden;
}

.item_set {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    gap: 20px;
}

.item_set::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

/* Item Layout */
.item_background {
    background-color: white;
    width: 230px;
    padding-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.item_title {
    text-align: center;
}

.item_price {
    text-align: center;
    font-size: larger;
    font-style: italic;
}

.item_image {
    background-color: red;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.item_category {
    background-color: palegoldenrod;
    width: 228x;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text_center {
    text-align: center;
}

/* Navigation Menus */
body {
    min-height: 100vh;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
}

/* Horizontal Menu */
#horizontal_menu{
    top: 0;
    position: sticky;
    grid-area: navbar;
    grid-column: navbar;
    padding: 1rem;
    background-color: lightblue;
    max-height: 52px;
}

/* Sidebar Menu */
#sidebar{
    height: calc(100vh - 52px); /* 100% of the viewport height minus the height of the navbar */
    width: auto;
    top: 52px;
    position: fixed;
    transform: translateX(-100%);
    align-self: start;
    grid-area: sidebar;
    background-color: grey;
    visibility: hidden;
    display: block;
    transition: transform 0.25s ease-in-out;
}

#sidebar.show {
    transform: translateX(0);
    visibility: visible;
    position: sticky;
    transition: transform 0.25s ease-in-out;
}

#sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar a, #sidebar .dropdown-btn{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: rgb(168, 168, 248);
}

#sidebar .sub-menu{
    display: grid;
    padding-left: 1rem;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    div{
        overflow: hidden;
    }
}
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

main{
    grid-area: main;
    overflow: hidden;
}

