{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/comisiones.css">
{% endblock %}

{% block title %}
    Comisiones
{% endblock %}

{% block main %}
    <div class="comisiones_body">
        <h1>Comisiones</h1>
        <p>Si quieres realizar una comisión personalizada de llaveros, stickers, pins o un dibujo, por favor contáctanos a través del medio de tu preferencia. El costo de cada comisión dependerá de la complejidad de este. </p>
    </div>
{% endblock %}