{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="homepage_body">
    <h1 class="text_center">STORE</h1>
    
    <h2>Popular</h2>
    <div class="item_set">
        {% for item in items1 %}
        <div class="item_background center">
            <h3 class="item_title">{{item.titulo}}</h3>
            <img class="item_image" src="/static/img/productos/{{item.nombre_img}}">
            <h2 class="item_price">${{item.precio}}</h2>
            <div class="item_category">
                <h3 class="text_center">{{item.categoria}}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Nuevo</h2>
    <div class="item_set">
        {% for item in items2 %}
        <div class="item_background center">
            <h3 class="item_title">{{item.titulo}}</h3>
            <img class="item_image" src="/static/img/productos/{{item.nombre_img}}">
            <h2 class="item_price">${{item.precio}}</h2>
            <div class="item_category">
                <h3 class="text_center">{{item.categoria}}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Recomendado</h2>
    <div class="item_set">
        {% for item in items3 %}
        <div class="item_background center">
            <h3 class="item_title">{{item.titulo}}</h3>
            <img class="item_image" src="/static/img/productos/{{item.nombre_img}}">
            <h2 class="item_price">${{item.precio}}</h2>
            <div class="item_category">
                <h3 class="text_center">{{item.categoria}}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <p class="text_center"><a href="/logout">Log Out</a></p>
</div>
{% endblock %}