<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="item_background center">
            <h3 class="item_title">Gato Tiburón</h3>
            <img class="item_image" src="/static/img/Gato-Tiburon.png">
            <h2 class="item_price">$5.00</h2>
            <div class="item_category">
                <h3 class="text_center">Sticker</h3>
            </div>
        </div>
    </body>