<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/colors.css" rel="stylesheet">

        <script type="text/javascript" src="/static/js/layout.js" defer></script>
        
        {% block head %}{% endblock %}
        <title>MIRUMIN: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Show any flash alert App.py may have passed. -->
        {% if get_flashed_messages() %}
        <header>
            <div id="alert" class="alert alert-primary mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
                <button id= "close-flash" type="button" class="btn-close" aria-label="Close" style="float: right"></button>
                <!-- Need Javascript for button to close pop up -->
            </div>
        </header>
        {% endif %}

        <nav id="horizontal_menu">
            <div  class="togleSidebar-btn">
                <button onclick="toggleSidebar()">
                    <img src="\static\img\layout\sidebar_logo.png">
                </button>
            </div>

            <div class="horizontal_menu_logo">
                <img src="\static\img\layout\logo.png">
            </div>

            <div class="horizontal_menu_right_links">
                <div class="horizontal_menu_search">
                    <a href="/search">
                        <img src="\static\img\layout\search_logo.png">
                    </a>
                </div>
    
                <div class="horizontal_menu_shipping_car">
                    <a href="/shopping_cart">
                        <img src="\static\img\layout\shopping_cart.png">
                    </a>
                </div>
            </div>
            
        </nav>

        <aside id="sidebar">
            <ul>
                <li>
                    <a href="/" class="sidebar-star-icon-and-txt">
                        <img src="static\img\layout\star_icon_sidebar.png">
                        <span>Página principal</span>
                    </a>
                </li>

                <!-- Dropdown menu for categories -->
                <li>
                    <button class="dropdown-btn" onclick="toggleSubMenu(this)">
                        <img src="static\img\layout\star_icon_sidebar.png">
                        <span>Categorías</span>
                    </button>

                    <ul class="sub-menu">
                        <div>

                            <li>
                                <a href="#" class="sidebar-star-icon-and-txt">
                                    <img src="static\img\layout\star_icon_sidebar.png">
                                    <span>Stickers</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="sidebar-star-icon-and-txt">
                                    <img src="static\img\layout\star_icon_sidebar.png">
                                    <span>Llaveros</span>
                                </a>
                            </li> 

                            <li>
                                <a href="#" class="sidebar-star-icon-and-txt">
                                    <img src="static\img\layout\star_icon_sidebar.png">
                                    <span>Pins</span>
                                </a>
                            </li>

                        </div>
                        
                    </ul>

                </li>
                
                <li>
                    <a href="/comisiones" class="sidebar-star-icon-and-txt">
                        <img src="static\img\layout\star_icon_sidebar.png">
                        <span>Comisiones</span>
                    </a>
                </li>

                <li>
                    <a href="/logout" class="sidebar-star-icon-and-txt">
                        <img src="static\img\layout\star_icon_sidebar.png">
                        <span>Log out</span>
                    </a>
                </li>

                <li>
                    <a href="/contactanos" class="contact-us">
                        <img src="static\img\layout\contactanos_logo.png">
                        <span>Contáctanos</span>
                    </a>
                </li>

                <li>
                    <a href="/quienes-somos" class="quienes-somos">
                        <img src="static\img\layout\quienes_somos.png">
                        <span>¿Quiénes somos?</span>
                    </a>
                </li>

            </ul>
        </aside>

        <!-- Main Content -->
        <main>
            {% block main %} {% endblock %}
        </main>

    </body>
</html>