{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/styles.css" rel="stylesheet">   
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- Simple login form -->
    <form action="/login" method="post">
        <h1 class="title">Log In</h1>
        <br>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn surface-btn" type="submit">Log In</button>
    </form>
    
    <a href="/register">Register</a>
{% endblock %}